
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPasswordEmailSent</title>
</head>
<body>
    <h3>Your link have been successfully generated. Please check your email to create a new password.</h3>
</body>
</html>
