@model HelloNetCore.Models.Security.ResetPasswordViewModel
@{
    Layout = null;
} 
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <form asp-controller="Security" asp-action="ResetPassword" method="post">
        <div asp-validation-summary="All"></div>
        <input asp-for="Token" type="hidden" />
        <input type="text" asp-for="Email" placeholder="Email" /><br />
        <input type="text" asp-for="Password" placeholder="Password" /><br />
        <input type="text" asp-for="ConfirmPassword" placeholder="Confirm Password" /><br />
        <input type="submit" value="Reset" />
    </form>
</body>
</html>
